<div class="container" ng-controller="SaqueCtrl">
  <div class="display">
    <div class="cxMain">
      <h2>Selecione a Valor desejado</h2>

      <div class="cxMain__row">
        <form class="row">
          <div class="col-auto">
            <label for="valor" class="col-form-label">Valor</label>
          </div>
          <div class="col-auto">
            <input
              type="number"
              id="valor"
              class="form-control"
              aria-describedby="valor"
              ng-model="valor"
              required
            />
          </div>
          <div class="col-auto">
            <button
              type="button"
              class="btn btn-success"
              id="bt-sacar"
              ng-click="sacaValor(valor)"
            >
              Sacar
            </button>
          </div>
          <div class="col-auto">
            <button type="reset" class="btn btn-warning">Limpar</button>
          </div>
          <div class="col-auto">
            <a href="/" class="btn btn-info">Início</a>
          </div>
        </form>
        <label for="tNotas" class="col-form-label tNotas"
          >Notas disponíveis:
        </label>
        <span>
          {{tn100}} de {{tNotas100 }} - {{tn50}} de {{tNotas50 }} - {{tn20}} de
          {{tNotas20 }} - {{tn10}} de {{tNotas10 }}</span
        >
      </div>
    </div>

    <div class="inf_saque">
      <div>
        <label class="col-form-label">Cliente: </label
        ><span>{{nomeCliente}}</span>
      </div>

      <div>
        <label class="col-form-label">Quantidade cédulas disponíveis: </label
        ><span>{{qtdCedulas}}</span>
      </div>

      <div>
        <label class="col-form-label">Saldo da conta</label
        ><span>{{saldoConta | currency:" R$"}}</span>
      </div>

      <div>
        <label class="col-form-label">Total de saques: </label
        ><span>{{totalSaques }}</span>
      </div>
    </div>
  </div>

  <h3>{{mesnagemSaque}}</h3>
  <div>
    <h5 ng-if="tNotas_saque_100">{{tNotas_saque_100}} notas de R$100</h5>
    <h5 ng-if="tNotas_saque_50">{{tNotas_saque_50}} notas de R$50</h5>
    <h5 ng-if="tNotas_saque_20">{{tNotas_saque_20}} notas de R$20</h5>
    <h5 ng-if="tNotas_saque_10">{{tNotas_saque_10}} notas de R$10</h5>
  </div>
</div>
